<div class="center">
  <h2>Position: {{ position.PositionName }}</h2>
  <p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non odio sed
    eros tristique bibendum.
  </p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="row">
          <div class="col-md-12">
            <div
              class="form-group"
              [ngClass]="{ 'has-error': PositionName.errors }"
            >
              <label for="PositionName" class="control-label"
                >Position Name:</label
              >
              <input
                class="form-control"
                id="PositionName"
                type="text"
                name="PositionName"
                [(ngModel)]="position.PositionName"
                required
                #PositionName="ngModel"
              />
              <span class="help-block" *ngIf="PositionName.errors"
                >PositionName is required</span
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div
              class="form-group"
              [ngClass]="{ 'has-error': PositionDescription.errors }"
            >
              <label class="control-label" for="PositionDescription"
                >Description:</label
              >
              <textarea
                class="form-control"
                id="PositionDescription"
                rows="5"
                name="PositionDescription"
                [(ngModel)]="position.PositionDescription"
                required
                #PositionDescription="ngModel"
              ></textarea>
              <span class="help-block" *ngIf="PositionDescription.errors"
                >PositionName is required</span
              >
            </div>
          </div>
        </div>
        <hr />
        <a routerLink="/positions" class="btn btn-warning pull-left"
          >Return to Position List</a
        >
        <input
          type="submit"
          class="btn btn-primary pull-right"
          value="Update Position"
          [disabled]="!f.valid"
        />
        <br />
        <br />
      </form>
    </div>
  </div>
  <br />
  <div class="alert alert-success" *ngIf="successMessage">
    <strong>Success!</strong> Position: "{{ position.PositionName }}" was
    successfully saved.
  </div>
  <div class="alert alert-danger" *ngIf="failMessage">
    <strong>Error!</strong> Position: "{{ position.PositionName }}" could not be
    saved.
  </div>
</div>
<br /><br />
